.table-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    border-radius: 5px ;
    cursor: pointer;

}

.table-menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--dark200);
    margin-right: 5px;
}

.table-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--dark200);
}


.menu-item-container {
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 5px;
}

.menu-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.menu-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item-link a {
    color: var(--dark200);
}