
.dashboard-container {
    position: absolute;
    width: 100%;
}
.dashboard-widget-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

.dashboard-table-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 32px;
}

.dashboard-tab-container{
    width: 98%;
}

.dashboard-toolbar{
    width: 80%;
    margin-bottom: 5px;
}