@import "../../variables.css";


.dashboard-container {
    position: absolute;
    width: 100%;
}
.dashboard-widget-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

.dashboard-table-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 32px;
}

.dashboard-tab-container{
    width: 95%;
    height: auto;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 70px;
}

.dashboard-toolbar{
    width: 95%;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--grey300);
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.ant-switch-checked {
    height: 22px !important;
    background-color: var(--dark200) !important;
}

.ant-switch-disabled {
    height: 22px !important;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-switch {
    background-color: var(--red200);
}
