@import "../../../variables.css";


.ant-input[disabled] {
    background-color: #fff !important;
}

.input-field-outer-container {
   display: flex; 
   width: 100%;
   background-color: #fff;
   margin: 10px 10px;
   transition: all 0.5s ease-in-out;
}

.input-field-drag-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.input-field-drag-icon {
    font-size: 24px;
    color: var(--grey200)
}

.input-field-outer-container:hover .input-field-drag-icon {
    color: var(--dark100);
    transition: all 0.5ms ease-in-out;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 10px 10px 15px 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--grey400);
    border-radius: 2px;
    transition: width 0.5ms ease-in-out;
}

.input-field-outer-container:hover .input-field-container {
    border: 1px solid var(--dark300);
    transition: all 0.5s ease-in-out;
}

.input-field-title-container {
    display: flex;
    justify-content: space-between;
}

.input-field-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -20px -10px -10px -20px;
    background-color: var(--grey400);
    width: 30px;
    height: 30px;
    border-bottom-right-radius: 25px;
    color: var(--dark100);
    padding: 2px 6px 4px 2px ;
    font-size: 18px;
    border-color: var(--dark300);   
}

.input-field-title {
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-weight: 600;
    font-size: 16px;
    color: var(--dark200)
}

.input-field-description {
    padding-top: 5px;
    padding-left: 3px;
    font-size: 13px;
    color: var(--dark300);
}

.input-field-icons-container {
    display: none;
}

.input-field-outer-container:hover .input-field-icons-container {
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    margin-right: -12px;
}

.input-field-edit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: var(--dark300);
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.input-field-edit-icon:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark300);
    color: #fff;
    padding: 2px;
    border-radius: 50%;
}

.input-field-delete-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark300);
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.input-field-delete-icon:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark300);
    color: #fff;
    padding: 2px;
    border-radius: 50%;
}