
.photoFieldPreview-container {
    margin-bottom: 50px;
}

.photoFieldPreview-name {
    font-size: 17px;
    font-weight: 500;
    color: var(--dark200);
    margin-bottom: 5px;
}

.photoFieldPreview-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.photoFieldPreview-description {
    font-size: 13px;
    color: var(--dark300);
}

.photoFieldPreview-upload-icon-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoFieldPreview-upload-icon {
    width: 50px;
    height: 50px;
    color: var(--dark300);
}

.photoFieldPreview-upload-text {
    color: var(--dark300);
}