@import "../../../variables.css";


.ant-upload-disabled {
    background-color: #fff !important;
    cursor: move !important;
}

.video-field-outer-container {
   display: flex; 
   width: 100%;
}

.video-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 10px 10px 15px 10px;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid var(--grey400);
    border-radius: 2px;
    cursor: move;
}

.video-field-title-container {
    display: flex;
    justify-content: space-between;
}

.video-field-title {
    padding-bottom: 5px;
    padding-left: 3px;
    font-weight: 600;
    font-size: 16px;
    color: var(--dark200)
}

.video-field-description {
    padding-top: 5px;
    padding-left: 3px;
    font-size: 13px;
    color: var(--dark300);
}

.video-field-edit-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark200);
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 5px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}

.video-field-icons-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 100%;
}

.video-field-edit-icon-container:hover {
    background-color: var(--dark200);
    color: #fff;
}

.video-field-edit-icon {
    width: 24px;
    height: 24px;
}

.video-field-delete-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red100);
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 5px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}

.video-field-delete-icon-container:hover {
    background-color: var(--red100);
    color: #fff;
}

.video-field-delete-icon {
    width: 24px;
    height: 24px;
}

.video-field-upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid var(--grey400);
    border-radius: 5px;
    padding: 8px 36px;
}

.video-field-upload-icon {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    color: var(--dark200)
}

.video-field-upload-text {
    color: var(--dark200);
    font-size: 16px;
}