@import "../../variables.css";

.proper-value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0px; 
}

.proper-value-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}

.proper-value-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    padding: 10px 5px
}

.proper-value-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 3px;
    border: 1px solid var(--blue100);
    color: var(--blue100);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.proper-value-edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 3px;
    border: 1px solid var(--orange300);
    color: var(--orange300);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
}

.proper-value-add-button:hover {
    background-color: var(--blue100);
    color: #fff;
}

.proper-value-delete-button:hover {
    background-color: var(--red200);
    color: #fff;
}

.proper-value-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 3px;
    border: 1px solid var(--red200);
    color: var(--red200);
    border-radius: 5px;
    cursor: pointer;
}

.proper-value-visible-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 1px solid var(--dark200);
    color: var(--dark200);
    border-radius: 5px;
    cursor: pointer;
}

.proper-value-visible-button:hover {
    background-color: var(--dark200);
    color: #fff;
}

.proper-value-nonvisible-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 1px solid var(--grey200);
    color: var(--grey200);
    border-radius: 5px;
}