@import "../../variables.css";

.property-field-container {
    margin-bottom: 20px;
}

.property-field-label {
    color: var(--dark100);
    font-family: "Nunito", sans-serif;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.property-field-divider {
    border-bottom: 1px solid var(--grey300); 
    margin: 10px 0px 20px 0px;
}