.proper-value-list-add-button {
    padding: 10px;
    font-size: 16px;
    color: var(--dark100);
    font-weight: 600;
}

.proper-value-list-divider {
    border-bottom: 1px solid var(--grey200); 
    margin: 10px 0px 20px 0px;
}

