@import "../../variables.css";

.process-table-container {
    width: 100%;
    min-width: 1000px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.process-table-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--dark200);
    font-size: 36px;
    color: #fff;
}

.process-table-action-show {
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid var(--dark200);
    margin-right: 10px;
}

.process-table-action-show-link {
    color: var(--dark200)
}

.process-table-action-show:hover {
    background-color: var(--dark200);
}

.process-table-action-show:hover .process-table-action-show-link{
    color: #fff;
}

.process-table-action-edit {
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid var(--orange200);
    margin-right: 10px;
}

.process-table-action-edit-link {
    color: var(--orange200)
}

.process-table-action-edit:hover {
    background-color: var(--orange200);
}

.process-table-action-edit:hover .process-table-action-edit-link {
    color: #fff;
}

.process-table-action-delete {
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid var(--red100);
    margin-right: 10px;
}

.process-table-action-delete-link {
    color: var(--red100)
}

.process-table-action-delete:hover {
    background-color: var(--red100);
}

.process-table-action-delete:hover .process-table-action-delete-link {
    color: #fff;
}

.process-table-action-duplicate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: var(--red200);
    margin-left: 50px;
}

.process-table-action-duplicate-link {
    color: #fff;
}



.process-table-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    border-radius: 5px ;
    cursor: pointer;

}

.process-table-menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--dark200);
    margin-right: 5px;
}

.process-table-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--dark200);
}


.process-util-menu-item-container {
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 5px;
}

.process-util-menu-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.process-util-menu-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-util-menu-item-link a {
    color: var(--dark200);
}

.ant-table-content {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
}

.ant-table-thead .ant-table-cell {
    
    color: var(--blue100) !important;
   
    font-weight: 600;
}

.ant-table-thead .ant-table-cell::before {
    display: none !important;
}

