@import "../../variables.css";

.share-date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid var(--grey400);
    border-radius: 5px;
    margin: 30px 0px;
    padding: 20px;
}

.share-location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid var(--grey400);
    border-radius: 5px;
    margin: 30px 0px;
    padding: 20px;
}

.share-location-map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid var(--grey400);
    border-radius: 5px;
    margin: 30px 0px;
    margin-top: -10px;
    padding: 20px;
}

