@import "../../../variables.css";

.back-button-border-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 1px solid var(--grey300);
    border-radius: 50px;
    margin: 10px 10px 10px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.back-button-border-container:hover {
    background-color: var(--grey300); 
    transition: all 0.3s ease-in-out;
}

.back-button-border-text {
    color: var(--grey300);
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button-border-container:hover .back-button-border-text{
    color: #fff;
}