/*
.ant-btn-dangerous {
    background-color: #ffffff;
    border-color: var(--red200);
    color: var(--red200);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0px;
    border-radius: 50px;
}

.ant-btn-dangerous:hover {
    background-color: var(--red200) !important;
    color: #fff !important;
    border: none
}
*/