@import "../../../variables.css";

.dark-button-border-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid var(--dark300);
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dark-button-border-container:hover {
    background-color: var(--dark300); 
    transition: all 0.3s ease-in-out;
}

.dark-button-border-text {
    color: var(--dark300);
    font-weight: 500;
    font-size: 17px;
}

.dark-button-border-container:hover .dark-button-border-text{
    color: #fff;
}