@import "../../../variables.css";

.dark-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--dark200);
    border-radius: 5px;
    margin: 10px 0px;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dark-button-container:hover {
    background-color: var(--dark400); 
    transition: all 0.3s ease-in-out;
}

.dark-button-text {
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}