@import "../../../variables.css";

.rb-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--red100);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.rb-container:hover {
    background-color: var(--red300);
    transition: all 0.3s ease-in-out;
}

.rb-text {
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
}