

.ant-btn-default {
    background-color: #ffffff;
    border-color: var(--dark300);
    color: var(--dark300);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0px;
    border-radius: 50px;
}

.ant-btn-default:hover {
    background-color: var(--dark300) !important;
    color: #fff !important;
    border-color: var(--dark300) !important;
}

