@import "../../variables.css";

.pf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 30px;
}

.pf-process-container {
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.pf-body-container {
    padding: 10px 30px;
}

.pf-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.pf-submit-button {
    background-color: var(--dark100);
    width: 160px;
    height: 50px !important;
    border-radius: 50px !important;
    font-weight: 600;
    letter-spacing: 1px;
}

.pf-submit-button:hover {
    background-color: var(--dark300) !important;
}



.pf-process-icon {
    display: flex;
    font-size: 36px;
    margin-right: 12px;
    background: var(--dark200);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.pf-process-name {
    display: flex;
    color: var(--dark200);
    font-weight: 600;
    font-size: 24px;
}

.pf-divider {
    margin: 20px 20px;
    width: 100%;
    border-bottom: 1px solid var(--grey300);
}

.pf-back-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}