@import "../../variables.css";


.publish-container {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    color: var(--dark200);
}

.publish-container h3{
    color: var(--dark300);
        font-size: 20px;
}

.publish-divider {
    border-bottom: 1px solid var(--grey400);
    margin: 25px 0px 40px 0px;
}

.publish-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.publish-body {
    margin: 20px 0px;
    padding: 0px 10px;
}

.ant-tree .ant-tree-node-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey500);
    color: var(--dark200);
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    padding: 7px 20px 7px 5px;
    border: 1px solid var(--dark300) !important;
    letter-spacing: 0.5px;
    border-radius: 5px;
}

.ant-tree-iconEle {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 3px;
    font-size: 20px;
    margin-right: 7px;
}

.ant-tree-iconEle svg {
   font-size: 50px;
}