@import "../../variables.css";

.new-user-divider {
    border-bottom: 1px solid var(--grey300);
    margin: 25px 0px 40px 0px;
}

.new-user-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.ant-form-item-label {
    display: flex;
}

.ant-form-item-label >label {
    font-size: 16px !important;
    color: var(--dark300);
    margin-right: 20px;
    font-weight: 500;
}

.new-user-profile-photo-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey500);
    border-radius: 5px;
    border: 1px solid var(--grey300);
    padding: 15px;
    width: 50%;
}

.new-user-profile-photo {
    font-size: 48px;
    color: var(--dark300);
}

.new-user-profile-photo {
    columns: var(--dark300);
}