@import "../../variables.css";

.user-table-container {
    width: 100%;
    min-width: 1100px;
    margin-top: 0px;
}

.user-table-action-invite {
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid var(--dark200);
    margin-right: 10px;
}

.user-table-action-invite-link {
    color: var(--dark200)
}

.user-table-action-invite:hover {
    background-color: var(--dark200);
}

.user-table-action-invite:hover .user-table-action-invite-link{
    color: #fff;
}

.user-table-action-edit {
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid var(--orange200);
    margin-right: 10px;
}

.user-table-action-edit-link {
    color: var(--orange200)
}

.user-table-action-edit:hover {
    background-color: var(--orange200);
}

.user-table-action-edit:hover .user-table-action-edit-link {
    color: #fff;
}

.user-table-action-delete {
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid var(--red100);
}

.user-table-action-delete-link {
    color: var(--red100)
}

.user-table-action-delete:hover {
    background-color: var(--red100);
}

.user-table-action-delete:hover .user-table-action-delete-link {
    color: #fff;
}

.ant-table-thead .ant-table-cell {
    
    color: var(--dark200) !important;
   
    font-weight: 600;
}

.ant-table-thead .ant-table-cell::before {
    display: none !important;
}

.user-table-isActive-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-table-isActive {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 36px;
    height: 30px;
    border-radius: 8px;
    font-weight: 600;
}